<div class="container">
    <div class="header">
        <div class="logo">
            <h1>titulo</h1>
        </div>
        <div class="card header">
            <div class="icon red pulse">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="text">
                <div id="user-amount" class="data"></div>
                <div class="title">Usuarios</div>
            </div>
        </div>
    </div>
    <div class="filters">
        <div class="row">
            <div class="element-zone">
                <div class="element add" >
                    <div class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <p>Agregar</p>
                </div>
            </div>
            <div class="element search">
                <input type="text"  placeholder="Buscar por nombre o usuario" id="input-search">
                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th class="index">No.</th>
                    <th class="text min">Nombre</th>
                    <th class="text min">Usuario</th>
                    <th class="text min">Correo</th>
                    <th class="text min">Estado</th>
                    <th class="num">Rol</th>
                    <th class="num">Creado por</th>
                    <th class="num">Fecha de Creación</th>
                    <th class="actions">Acciones</th>
                </tr>
            </thead>
            <tbody class="scrollable">
                <div class="table-body">
                    <tr 
                   
                    >
                        <td class="index"></td>
                        <td class="text min" ></td>
                        <td class="text min center"></td>
                        <td class="text min center" ></td>
                        <td class="text min center"></td>
                        <td class="num center"> </td>
                        <td class="num center"></td>
                        <td class="num center" ></td>
                        <td class="index actions">
                            <div  class="option" >
                                <div class="option-icon">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </div>
                                <div class="option-menu">
                                    <div class="menu-icon">
                                        <div class="icon" title="Editar usuario" >
                                            <i class="fa-solid fa-pen"></i>
                                        </div>
                                        <div class="icon" title="Eliminar usuario" >
                                            <i class="fa-solid fa-trash"></i>
                                        </div>
                                        <div class="icon" title="Restablecer contraseña" >
                                            <i class="fa-solid fa-key"></i>
                                        </div>
                                       
                                        <div class="icon" title="Ver usuario" >
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
    <div class="nav-zone">
        
    </div>
     
         
          
       
    
</div>
