<div class="container">
    <div class="header">
        <div class="logo">
            <!-- <h1>{{ title }}</h1> -->
        </div>
    </div>
    <div class="form-title">
        <p>Formulario de Usuario</p>
    </div>
    <form class="form-container" >
        <div class="form-body">
            <div class="row" >
                <div class="column w100">
                    <div class="form-element">
                        <div class="element-title">
                            <p>Nombre de la persona:</p>
                        </div>
                        <div class="input-field">
                            <input type="text"  maxlength="60" autocomplete="off">
                        </div>
                        <div >
                            <!-- <span class="alert" >Ingrese el nombre completo de la persona.</span> -->
                        </div>

                    </div>
                </div>
            </div>
           <div class="row" >
                <div class="column w100">
                    <div class="form-element">
                        <div class="element-title">
                            <p>Usuario:</p>
                        </div>
                        <div class="input-field">
                            <input type="text"  maxlength="20" autocomplete="off" oninput="value = value.toUpperCase();">
                        </div>
                        <div >
                            <!-- <span class="alert" *ngIf="form.get('user')!.errors?.['required']">Ingrese el nombre de usuario único.</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="column w100">
                    <div class="form-element">
                        <div class="element-title">
                            <p>Correo electrónico:</p>
                        </div>
                        <div class="input-field">
                            <input type="email"  maxlength="99" autocomplete="off">
                        </div>
                        <div >
                            <!-- <span class="alert" *ngIf="form.get('email')!.errors?.['required']">Ingrese el correo electrónico.</span>
                            <span class="alert" *ngIf="form.get('email')!.errors?.['email']">Ingrese un correo válido.</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="column w100">
                    <div class="form-element">
                        <div class="element-title">
                            <p>Contraseña actual:</p>
                        </div>
                        <div class="input-field">
                            <input type="password"  maxlength="20" autocomplete="off">
                        </div>
                        <div >
                            <!-- <span class="alert" *ngIf="form.get('password_current')!.errors?.['required']">Ingrese su contraseña actual</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="column w100">
                    <div class="form-element">
                        <div class="element-title">
                            <p>Contraseña:</p>
                        </div>
                        <div class="input-field">
                            <input type="password"  maxlength="20" autocomplete="off">
                        </div>
                        <div >
                            <!-- <span class="alert" *ngIf="form.get('password')!.errors?.['required']">Ingrese una contraseña</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="column w100">
                    <div class="form-element">
                        <div class="element-title">
                            <p>Confirmar contraseña:</p>
                        </div>
                        <div class="input-field">
                            <input type="password"  maxlength="20" autocomplete="off">
                        </div>
                        <div >
                            <!-- <span class="alert" *ngIf="form.get('password_confirmation')!.errors?.['required']">Reescriba la contraseña</span>
                            <span class="alert" *ngIf="form.get('password_confirmation')!.errors?.['passwordConfirmation']">Las contraseñas no coinciden</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="column w100">
                    <div class="form-element">
                        <div class="element-title">
                            seleccionar rol <!-- <p>{{ typeForm == 'CREATE' ?  'Seleccionar rol:' : 'Rol:'}}</p> -->
                        </div>
                        <div class="input-field">
                            <select name="rol" id="rol" class="select" >
                                <option value="" disabled selected>Seleccione un rol</option>
                                <option value="1">Administrador</option>
                                <option value="2">Usuario</option>
                            </select>
                        </div>
                        <div >
                            <!-- <span class="alert" >Seleccione un rol</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-zone" >
            <button > cambiar Contraseña</button>
            <button class="back" >Cancelar</button>
        </div>
    </form>
</div>
